<strong>Opciones ODS</strong>
<hr>
<div class="row">
    <div class="col-md-6">
        <input type="checkbox" value="1" id="ods_1">&nbsp;<b>1</b> -   Fin de la Pobreza<br>
        <input type="checkbox" value="2" id="ods_2">&nbsp;<b>2</b> -   Hambre Cero<br>
        <input type="checkbox" value="3" id="ods_3">&nbsp;<b>3</b> -   Salud y Bienestar<br>
        <input type="checkbox" value="4" id="ods_4">&nbsp;<b>4</b> -   Educación de Calidad<br>
        <input type="checkbox" value="5" id="ods_5">&nbsp;<b>5</b> -   Igualdad de Género<br>
        <input type="checkbox" value="6" id="ods_6">&nbsp;<b>6</b> -   Agua limpia y saneamiento<br>
        <input type="checkbox" value="7" id="ods_7">&nbsp;<b>7</b> -   Energia Asequible y no contaminante<br>
        <input type="checkbox" value="8" id="ods_8">&nbsp;<b>8</b> -   Trabajo Decente y Crecimiento Económico<br>
        <input type="checkbox" value="9" id="ods_9">&nbsp;<b>9</b> -   Industria, Innovación e Infraestructura
    </div>
    <div class="col-md-6">
        <input type="checkbox" value="10" id="ods_10">&nbsp;<b>10</b> -   Reducción de las Desigualdades<br>
        <input type="checkbox" value="11" id="ods_11">&nbsp;<b>11</b> -   Ciudades y Comunidades Sostenibles<br>
        <input type="checkbox" value="12" id="ods_12">&nbsp;<b>12</b> -   Producción y Consumo Responsable<br>
        <input type="checkbox" value="13" id="ods_13">&nbsp;<b>13</b> -   Acción por el Clima<br>
        <input type="checkbox" value="14" id="ods_14">&nbsp;<b>14</b> -   Vida Submarina<br>
        <input type="checkbox" value="15" id="ods_15">&nbsp;<b>15</b> -   Vida de Ecosistemas Terrestres<br>
        <input type="checkbox" value="16" id="ods_16">&nbsp;<b>16</b> -   Paz, Justicia e Instituciones Sólidads<br>
        <input type="checkbox" value="17" id="ods_17">&nbsp;<b>17</b> -  Alianzas para lograr los objetivos
    </div>
</div>
